.container-title {
  display: flex;
  justify-content: center;
}

.app-container h1 {
  color: #ddd;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 3rem;
}

.app-container h1 a {
  color: #ddd;
  text-decoration: none;
}

.app-container h1 a:hover {
  color: #bbb;
}

.app-footer {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
