.app-container {
  background: -webkit-linear-gradient(to bottom, #b20a2c, #fffbd5);
  background: #fffbd5;
  background: linear-gradient(to bottom, #b20a2c, #fffbd5);
}

.container-title {
  display: flex;
  justify-content: center;
}

.app-container h1 {
  color: #ddd;
  display: inline-block;
  font-size: 64px;
  letter-spacing: 70px;
}

.app-container h1 a {
  color: #ddd;
  text-decoration: none;
}

.app-container h1 a:hover {
  color: #bbb;
}

.app-footer {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
